@import "tailwindcss";

@media print {
  body {
    background-color: #ffffff !important;
    color: #000000 !important;
  }
  header,
  aside,
  nav,
  button,
  .no-print {
    display: none !important;
  }
}
